main{
    text-align: center;
    margin: 10rem 10rem;

}
p{
    text-align:justify;
}
header{
    display: flex;
    justify-content: space-between;
}
.timer{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}
#questions p{
    color: lawngreen;
    text-align: center;
    margin: 10rem 10rem;
    text-align:initial;
}