main{
    text-align: center;
    margin: 10rem 10rem;

}
p{
    text-align:justify;
}
header{
    display: flex;
    justify-content: space-between;
}
.timer{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}