
body{
    background-color: lightslategray;
}
main{
    text-align: center;
    margin: 10rem 10rem;
}
p{
    text-align:justify;
    font-size: 2vw;
}
header{
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
}
.startBtn{
    padding: 10px;
    width: 100px;
    color:white;
    background-color: midnightblue;
}

.timer{
    display: flex;
    color: midnightblue;
}

a{
    text-decoration: none;
    color: midnightblue;
}

#question-container p{
    display: flex;
    flex-direction: row;
    text-align: center;
}


#choiceBtn{
    font-size: 25px;
    padding: auto ;
    margin: auto;
    display: inline;
    background-color: midnightblue;
    color: white;
}

.hide{
    display: none;
}


#endScreen{
    border: 2px solid midnightblue;
    border-radius: 20px;
    padding-left: 10px;
}

#Highscores{
    border: 2px solid midnightblue;
}

ul{
    border: 4px solid black;
    color: red;
}